<menu>
    <menuitem label='Cadastros'>
        <menu>
            <menuitem label='Usuários'>
                    <icon>app/images/ico_wellcome.png</icon>
                    <action>UsuariosList</action>
            </menuitem>
            <menuitem label='Salas'>
                    <icon>app/images/ico_wellcome.png</icon>
                    <action>SalasList</action>
            </menuitem>
            
        </menu>
    </menuitem>
    <menuitem label='Reservas'>
        <menu>
            <menuitem label='Reservar Sala'>
                    <icon>app/images/ico_wellcome.png</icon>
                    <action>ReservasList</action>
            </menuitem>
                      
        </menu>
    </menuitem>
</menu>