<!DOCTYPE html>
<html>
<head>
    <title>Teste Desenvolvedor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {LIBRARIES}
    {HEAD}
</head>
<body>
    <div class="adianti_container">
        <div class="header">
            <div class="thin_bar">
                &nbsp;
            </div>
            <div class="header_content">
                <label style="font-size: xx-large;">
                    Reservas de Salas. Teste para desenvolvedor.
                </label>
                
                
            </div>
            <div class="header_bottom" style="clear:both"></div>
        </div>
        
        <div class="body">
            <div id="menuDiv">
                <div class="tutor-navbar">
                  <div class="tutor-navbar-inner">
                    {MENU}
                    
                    <a href="index.php?class=Login&method=Sair" style="float: right;" onClick="__adianti_block_ui('Saindo');" class="btn btn-default">
                                <i class="glyphicon glyphicon-off"></i> Sair
                    </a>   
                  </div>
                </div>
            </div>
            <div id="adianti_div_content" class="content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            <div id="pageboth"><br></div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <script type="text/javascript" id="adianti_placeholder">
    //#javascript_placeholder#
    </script>
</body>
</html>