<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Login de Usuario">
    <meta name="author" content="Tiago Fernando Schirmer">
    {LIBRARIES}
    {HEAD}
     <link href="app/templates/{template}/Login.css" rel="stylesheet">
</head>
<body>
    <div class="adianti_container">
        
        <div class="body">
            <div id="adianti_div_content" class="content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            <div id="pageboth"><br></div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <script type="text/javascript" id="adianti_placeholder">
    //#javascript_placeholder#
    </script>
</body>
</html>